<meta charset="utf-8">
<title>{{website.title}}</title>
{{> head_viewport ~}}
<meta name="description" content="{{website.meta.description}}">
<meta name="keywords" content="{{website.meta.keywords}}">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="format-detection" content="telephone=no">
<meta property="fb:app_id" content="{{website.facebook.appId}}">
<meta property="og:type" content="{{website.ogp.type}}">
<meta property="og:url" content="{{website.ogp.url}}">
<meta property="og:image" content="{{website.ogp.imageUrl}}">
<meta property="og:title" content="{{website.ogp.title}}">
<meta property="og:description" content="{{website.ogp.description}}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{website.ogp.title}}">
<meta name="twitter:description" content="{{website.ogp.description}}">
<meta name="twitter:image:src" content="{{website.ogp.imageUrl}}">

<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" href="/css/screen.css" media="screen">